* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --fundo-site: #FCFCFC;
    --amarelo: #FFCA2E;
    --laranja: #F4A226;
    --verde:  #98D9A9;
    --azul: #AED6F1;
    --rosa: #FFBCCC;
}

body{
    background-color: var(--fundo-site);
}

/* HEADER */
header{
    width: 100%;
}

header>div.container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
}

.container-flex{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo{
    width: 250px;
}

.links{
    display: flex;
    align-items: center;
    gap: 80px;
}

.links a{
    font-family: "Super Malibu";
    font-size: 30px;
    color: var(--preto);
    text-decoration: none;
}

.links a:hover{
    /* color: var(--amarelo); */
    /* border-bottom: 1px solid var(--amarelo); */
    background-color: var(--rosa);
    border-radius: 7px;
    padding: 5px;
    
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;
}


.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
     margin-bottom: 200px;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 250px;
}