* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo-site: #FCFCFC;
    --amarelo: #FFCA2E;
    --laranja: #F4A226;
    --verde: #98D9A9;
    --azul: #AED6F1;
    --rosa: #FFBCCC;
    --rosaforte: #FF8CA7;
    --roxo: #C998D9;
}

@font-face {
    font-family: Super;
    src: url(./fonts/Super\ Malibu.ttf);
}


body {
    background-color: var(--fundo-site);
}

/* HEADER */
header {
    width: 100%;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo {
    width: 250px;
}

.links {
    display: flex;
    align-items: center;
    gap: 100px;
}

.links a {
    font-family: "Super Malibu", Regular;
    font-size: 30px;
    color: var(--preto);
    text-decoration: none;
}

.links a:hover {
    /* color: var(--amarelo); */
    /* border-bottom: 1px solid var(--amarelo); */
    background-color: var(--rosa);
    border-radius: 7px;
    padding: 5px;

}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}


.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 200px;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 250px;
}

#Sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#Sobre img {
    max-width: 460px;
    width: 40%;
    border-radius: 20px;
}

.conteudosobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 50%;
}

.conteudosobre h1 {
    display: flex;
    justify-content: center;
    font-family: "Super Malibu", Regular;
    font-size: 50px;
    color: var(--rosaforte);
    text-decoration: none;
}

.conteudosobre p {
    font-family: "Super Malibu", Regular;
    font-size: 40px;
    color: var(--roxo);
    text-decoration: none;
}

.icones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}